body {
    margin: 0;
    padding: 0;
    background-color: #18181B;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.logo {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.title {
    margin-bottom: 30px;
    font-size: 1.1rem;
}

input[type="email"],
input[type="password"] {
    display: block;
    margin: 15px auto;
    padding: 10px;
    width: 250px;
    background-color: #212124;
    border: solid #343437 2px;
    border-radius: 10px;
    color: white;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #52525B;
    width: 275px;
    border: solid #343437 2px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #636363;
}

.links {
    margin-top: 15px;
    font-size: 0.9rem;
}

.links a {
    color: #ffffff;
    margin: 0 10px;
    font-size: 0.9rem;
    text-decoration: none;
}

.controller-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #18181B;
    border: solid #343437 2px;
    border-radius: 8px;
    padding: 8px 14px;
    color: #aaa;
    text-decoration: none;
    font-size: 0.7rem;
}